/*p{
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif
}

main{
    background-color: green;
}

body{
    background-color: black;
}
*/

 /*inherit es la palabra reservaba que significa herencia y es para heredar las reglas de la codificacion de arriba */
/*p{
    background-color: green;
    color: black;
}

a{
    color: inherit;
}
*/

/*Especificidad hace referencia al orden o prioridad en que se colocan los estilo*/

#identificador{
    color: green;
}

.clase{
    color: lightcoral;
}
