/*
*{
    font-size: 15px;
}/*
/*el asterisco es para agregar estilo a toda la pagina*/
 /*
h1{
    background-color: indigo;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
}

p{
    text-align: center;
} 
*/

/*
h1,h2, h3, h4, h5, h6{
    color: red;
    background-color: black;
}

h1{
    font-size: 72px;
}
/*
 /*Selector hijo
 /*
h1>a{/* le estoy diciendo que todas las etiquetas "a" que esten dentro de "h1" van a llevar lo que le indico en las reglas
    color: coral;
    font-size: 48px;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p > a{
    color: red;
    font-size: 46px;
}
*/
/*
selector adyacente
h2 + h3{ /*al elemento mas cercano a h2 le voy a colocar las reglas de css 
    color: fuchsia;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*/
